.wrapper
{
 height:auto;
 width:100%;
 background-color:red;
}
.header
{
 height:100px;
 width:100%;
 background-color:lightgray;
}
.header1
{
height:90px;
width:50%;
font-family:corbel;
font-size:50;
color:black;
}
.header2
{
height:90px; 
width:40%;
background-color:lightgray;
float:right;
}
.left
{
height:150%;
width:295px;
float:left;
}
.left1
{
height:13%; 
width:200px;
background-color:grey;
font-size:5;
float:left;
margin:10px;
}
.left2
{
height:auto; 
width:265px;
background-color:lightgrey;
font-size:15;
float:left;
margin:10px;
padding:10px;
}
.left3
{
height:5%; 
width:285px;
background-color:lightgrey;
font-size:20;
float:left;
margin:10px;
}
.left4
{
height:150%; 
width:281px;
background-color:white;
font-size:20;
float:left;
margin:10px;
border:2px solid black;
}
.left4a
{
height:30px;
 width:281px;
background-color:lightgrey;
font-size:20;
float:left;
}
.right
{
height:91%;
width:10px;
font-family:corbel;
font-size:25;
color:black;
float:left;
}
.right1
{
height:90px;
width:1000px;
font-family:corbel;
font-size:60;
color:black;
float:left;
border:2px solid black;
margin:10px;
}
.right2
{
height:140%;
width:1032px;
font-family:corbel;
font-size:25;
color:black;
float:left;
}
.right3
{
height:100%;
width:650px;
font-size:15;
color:black;
float:left;
background-color:white;
margin:15px;
text-align:justify;
}
.rightm
{
height:190%;
width:300px;
font-family:corbel;
border:2px solid black;
font-size:25;
color:black;
float:left;
background-color:white;
}