
ul
{
 list-style-type:none;
   margin:0;
   padding:0;
   overflow:hidden;
   background-color:#990000;
 }
li
 {
  float:left;
  border-right:1px solid black;
}
li a
{
 display:block;
 color:white;
 padding:14px 16px;
 text-decoration:none;
 text-align:center;
}
li a:hover
{
 background-color:lightgreen;
}
